body {
    font-family:'Lucida Sans','Lucida Sans Regular','Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align: center;
    background-color:lightblue;
    
  }

  my_menu{
    float:left;
    width:150px;
    height:150px;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #678;
  }  
  div {
    border: 1px solid rgb(131, 131, 245);
    background-color: lightblue;
    border-radius: 25px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: unset;
  }

  p  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
  }
  
  
  /*
  body {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: top-left;
    background-attachment: fixed;
    background-size: 150px 150px;
  }
*/
  